#NCS{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -9999; /* umiestni video za obsah stránky */
    overflow: hidden;
    object-fit: cover;
}

#videobuttonpos{
    position: fixed;
    bottom: 8px;
    right: 20px;
    /*width: 4%;
    height: 1%;*/
    z-index: 9999;
    overflow: hidden;
    display: flex;
    gap: 5px;
}
#videobuttonpos button{
    /*padding: 8px 14px;*/
    font-size: 14px;
    cursor: pointer;
    border: rgb(58, 58, 58) 0.8px;
    border-radius: 0.5vh;
    background-color: rgb(32, 32, 32);
    color: #0b5353;
    text-shadow: #06aaaa 0 0 0.2px;
}
#videobuttonpos p{
    margin: 0;
}

.toggle-input:checked + .toggle-label{
    background-color: #5f5f5f !important;
}

#duklock {
    position: absolute; /* Change to absolute positioning */
    right: 0;           /* Align to the right */
    top: 1.5vh;             /* Prevent content fly */
    white-space: nowrap; /* Prevent text wrapping */
}

#duklock p:last-child {
    text-align: center;
}

/* responzívna iframe obálka: na mobile použije % výšky obrazovky */
.iframe-wrap { width:100%; max-height:60vh; }
.iframe-wrap iframe {
        width:100%;
        height:100%;
        min-height:220px;    /* minimálna výška pre čitateľnosť */
        max-height:60vh;     /* zabráni príliš veľkej výške na mobile */
        border:0;
        color:rgb(190, 190, 190);
        display:block;
    }
/* optional: upraviť summary vzhľad */
details summary { list-style: none; cursor: pointer; }
details summary::-webkit-details-marker { display: none; }

audio{
    background-color: #5f5f5f41;
}
audio::-webkit-media-controls-panel {
    background-color: transparent !important;
}

#api-stat{
    margin-left: 1vh;
}