@import url("./style.css");

.loremUP {
    color:blue;
}

.lorem1 {
    color:green;
    text-decoration: underline;
}

.lorem2 {
    color:red;
    text-decoration: line-through;
}

.stred {
    text-align: center;
}

.window {
    border: 1px solid #4f4f4f;
    padding: 5px;
    margin: 5px;
}

.link {
    text-decoration: none;
    cursor: pointer;
    color:brown;
}