@font-face {
    font-family: "Mojangles";
    src: url('../assets/fonts/minecraftseven.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    background-color: rgb(32, 32, 32);
    color: rgb(190, 190, 190);
    font-family: "Mojangles", sans-serif;
}
/* responzívna iframe obálka: na mobile použije % výšky obrazovky */
.iframe-wrap { width:100%; max-height:60vh; }
.iframe-wrap iframe {
        width:100%;
        height:100%;
        min-height:220px;    /* minimálna výška pre čitateľnosť */
        max-height:60vh;     /* zabráni príliš veľkej výške na mobile */
        border:0;
        color:rgb(190, 190, 190);
        display:block;
    }
/* optional: upraviť summary vzhľad */
details summary { list-style: none; cursor: pointer; }
details summary::-webkit-details-marker { display: none; }

.link {
    text-decoration: none ;
    cursor: pointer ;
    color:rgb(40, 155, 190);
}

.link:hover {
    color:rgb(78, 200, 240)!important;
    text-decoration: underline !important;
}

.dlink {
    text-decoration: none ;
    cursor: pointer ;
    color:rgb(20, 118, 60);
}

.dlink:hover {
    color:rgb(50, 200, 100)!important;
    text-decoration: underline !important;
}

/* top message box the msg.js needs this! */
.msg {
    position: fixed;
    top: 20px; /* medzera od vrchu */
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
    z-index: 9999; /* aby to bolo nad všetkým */
    opacity: 0;
    transition: opacity 0.3s ease;
}