#mc-status-card{
    border: 2px solid #333;
    padding: 15px;
    border-radius: 10px;
    width: 50vh;
    background-color: rgb(50, 50, 50);
}
#server-version{
    color: #757575;
    text-decoration: underline 2px rgb(36, 36, 214) !important;
}
#server-motd{
    color: #6d6d6d;
    text-decoration: underline 1.5px #7e7e7e !important;
}
#player-list{
    font-size: 0.85em;
    color: #9c9c9c;
    padding-left: 20px;
}
button{
    padding: 10px;
    font-size: 16px;
    background-color: #244e4e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}