#mc-status-card{
    border: 2px solid #333;
    padding: 15px;
    border-radius: 10px;
    width: 50vh;
    background-color: rgb(50, 50, 50);
    /*min-height: 300px; /* Aby karta mala výšku aj pri načítavaní */
    
    /* Nastavenia pre pozadie */
    filter: saturate(1.2);
    background-color: rgb(50, 50, 50);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    /* Dôležité: vytvoríme vrstvu, aby bol text čitateľný na obrázku */
    position: relative;
    overflow: hidden;
    color: white;
    z-index: 1;
}

/* Vytvoríme polopriehľadnú vrstvu (overlay) nad obrázkom, ale pod textom */
#mc-status-card::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(32, 32, 32, 0.6); /* Tmavý filter (60% čierna) */
    z-index: -1;
}

#server-icon{
    opacity: 58%;
    border-radius: 10px;
    border: 2px solid #2b2b2b;
    background-color: rgb(50, 50, 50);
}
#server-version{
    color: #757575;
    text-decoration: underline 2px rgb(36, 36, 214) !important;
}
#server-motd{
    color: #6d6d6d;
    text-decoration: underline 1.5px #7e7e7e !important;
}
#player-list{
    font-size: 0.85em;
    color: #9c9c9c;
    padding-left: 20px;
}
button{
    margin: 1vh;
    padding: 10px;
    font-size: 16px;
    background-color: #244e4e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#site-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(26, 26, 26, 0.75);
    color: rgba(37, 148, 70, 0.75);
    text-align: center;
    padding: 8px 12px;
    z-index: 1000;
}
.background{
    opacity: 35%;
    border-radius: 10px;
    border: 2px solid #2b2b2b;
    background-color: rgb(50, 50, 50);
}