*{
    margin: 0;
    box-shadow: none;
    outline: none;
}
*:focus{
    box-shadow: none;
    outline: none;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /*  vertical center  */
    align-items: center;     /* horizontal center */
}
#input1{
    width: 58vh;
    margin-bottom: 4vh;
    background-color: rgb(54, 54, 54);
    color: rgb(190, 190, 190);
    border: 0.4vh solid rgba(60, 82, 95, 0.7);
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    caret-color: rgb(40, 94, 126);

    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}
#input1:hover{background-color: rgba(70, 70, 70, 0.7); box-shadow: 0.55vh 0.55vh rgba(40, 94, 126, 0.75);}
#input1:focus{border: 0.45vh solid rgba(40, 94, 126, 0.75); box-shadow: 0.75vh 0.75vh rgb(40, 94, 126);}
#input2{
    width: 78vh;
    height: 30vh;
    margin-bottom: 4vh;
    background-color: rgb(54, 54, 54);
    color: rgb(190, 190, 190);
    border: 0.4vh solid rgba(61, 82, 95, 0.7);
    padding: 5px;
    font-size: 16px;
    border-radius: 4px;
    overflow: hidden;
    caret-color: rgb(40, 94, 126);

    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}
#input2:hover{background-color: rgba(70, 70, 70, 0.7); box-shadow: 0.55vh 0.55vh rgba(40, 94, 126, 0.75);}
#input2:focus{border: 0.45vh solid rgba(40, 94, 126, 0.75); box-shadow: 0.75vh 0.75vh rgb(40, 94, 126);}
button{
    padding: 5px;
    font-size: 16px;
    background-color: rgb(54, 54, 54);
    color: rgb(190, 190, 190);
    border: 0.5vh solid rgba(61, 82, 95, 0.7);
    cursor: pointer;
    border-radius: 1vh;

    transition: background-color 0.2s, border 0.2s, box-shadow 0.2s;
}
button:hover{background-color: rgba(70, 70, 70, 0.7); border: 0.5vh solid rgb(40, 94, 126); box-shadow: 0.75vh 0.75vh rgba(40, 94, 126, 0.75);}